<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">
        {% if request.user.is_authenticated %}
        PT  {{request.user.username}} {{request.user.groups.all.0}}
        {% else %}
        PT
        {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

 <!--
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">xxxxx <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">xxxx <span class="sr-only">(current)</span></a>
        </li>
      </ul>
 -->


      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'user:register_member'%}">Üye Kayıt <span class="sr-only">(current)</span></a>
                </li>


                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'user:register_trainer'%}">Eğitmen Kayıt <span class="sr-only">(current)</span></a>
                </li>

            {% endif %}



            <li class="nav-item active">
                <a class="nav-link" href="{% url 'user:logout'%}">Çıkış Yap <span class="sr-only">(current)</span></a>
            </li>

<!--
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
            </li>
-->
        {% else %}


            <li class="nav-item active">
              <a class="nav-link" href="{% url 'user:login'%}">Giriş yap <span class="sr-only">(current)</span></a>
            </li>
        {% endif %}



      </ul>


    </div>
  </nav>